@{
    Layout = null;
}
@model Netflix_Clone.Data.Show
<link rel="stylesheet" href="~/css/GetDetailsPartial.css" />

<h2>@Model.Title</h2>
<img src="@Model.PosterURL" alt="@Model.Title" />
<p>@Model.Description</p>
<p><strong>Seasons:</strong> @Model.SeasonsCount</p>
<p><strong>Language:</strong> @Model.Language</p>
<p><strong>Rating:</strong> @Model.Rating</p>
<p><strong>Release Date:</strong> @Model.ReleaseDate</p>

<div class="modal-actions">
    <button class="action-btn show-add-list-btn" data-id="@Model.Id">
        <i class="fas fa-plus"></i> My List
    </button>
</div>