@{
    Layout = "_CollectionLayout";
	ViewData["Title"] = "TrackFlix - Movies Collection";
	ViewData["Description"] = "Explore a vast collection of movies, from classics to the latest releases. Find your next favorite film on TrackFlix.";
}
@using Netflix_Clone.Data
@model MoviesPageViewModel
<link rel="stylesheet" href="~/css/MoviesPage.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/ajaxHandler.js"></script>
<main class="main-content">
        <!-- Filtering Section -->
        <div id="filters">
            <label for="genre">Genre:</label>
            <select id="genre" name="genre">
				@foreach (var genre in Model.Genres)
				{
					<option value="@genre.Id">@genre.Name</option>
				})
            </select>

            <label for="sort">Sort By:</label>
            <select id="sort" name="sort">
                <option value="title.asc">Title(A-Z)</option>
                <option value="title.desc">Title(Z-A)</option>
                <option value="vote-average.desc">Rating</option>
                <option value="popularity.asc">Popularity ASC</option>
                <option value="popularity.desc">Popularity DESC</option>
            </select>
        </div>

        <!-- Movie Cards Section -->
        <div id="movies">
            @foreach (var movie in Model.Movies)
            {
                <div class="card" data-movie-id="@movie.Id">
                    <img src="@movie.PosterURL" alt="@movie.Title" />
                    <div class="card-title">@movie.Title</div>
                </div>
            }
        </div>

    <!-- Pagination Section -->
    <nav aria-label="pagination">
        <ul class="pagination">
            @for (int i = 1; i <= 10; i++)
            {
                <li><a asp-action="GetMoviesPage" asp-controller="Collection" asp-route-page=@i><span class="visuallyhidden">page </span>@i</a></li>
            }
        </ul>
    </nav>
</main>
