@using Netflix_Clone.Models
@using Netflix_Clone.Data
@model CollectionItemPageViewModel<Show>;

@{
    Layout = "_CollectionLayout";
    ViewData["Title"] = @Model.CollectionItem.Title;
}
<div id="show">

    <div id="show-details-modal">
        <div id="show">
            <div class="card" data-show-id="@Model.CollectionItem.Id">
                <img src="@Model.CollectionItem.PosterURL" alt="@Model.CollectionItem.Title" />
                <div class="card-title">@Model.CollectionItem.Title</div>
            </div>
        </div>

        <div id="ratings">
            @foreach(var rating in @Model.UsersRating)
            {
                <!--Username  ->  Rating(float) -->
            }
        </div>
	</div>


</div>
